$font-logo: 'Dancing Script', cursive;
$sub-heading-font: 'Roboto Mono', monospace;
$heading-font: 'Barlow', sans-serif;

$primary-font-color: #5be0c1;
$heading-font-color: #ccd6f6;
$subheading-font-color: #ccd6f6a8;

$primary-color1: #162930;
$primary-color2: #1d363f;
$secondry-color: #284a57;


$button-color:#2d5768;
